:root {
  --square-size: calc(100vh / 2);
  --half-size: calc(var(--square-size) / 2);
  --orbit-size: calc(var(--half-size) / 2);
}

* {
    font-family: roboto, sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.container {
  height: 50vh;
  width: 50vw;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: lightblue;
}

.ball {
  border-radius: 25px;
  height: 50px;
  position: absolute;
  width: 50px;
}

#ball-1 {
  background-color: rebeccapurple;
}

#ball-2 {
  background-color: white;
}

#ball-3 {
  background-color: blue;
}

#ball-4 {
  animation: orbit 2s linear infinite;
  background-color: black;
}

@keyframes orbit {
  from { transform: rotate(0deg) translateX(var(--orbit-size)) rotate(0deg); }
  to { transform: rotate(360deg) translateX(var(--orbit-size)) rotate(-360deg); }
}
